.form__input-block {
	display: flex;
	flex-direction: column;
	max-width: 396px;
}

.form__input {
	width: 366px;
	height: 46px;
	padding: 0;
	margin: 0 auto 20px;
	padding: 0 15px 0;
	outline: none;
	/* margin: 70px auto; */
	border-radius: 8px;
	background-color: #2f2f2f;
	border: none;
	color: white;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.21;
}

.form__input-label {
	font-size: 10px;
	font-weight: 400;
	line-height: 1.21;
	margin-bottom: 10px;
  color: #8b8b8b;
}
