.portfolio {
	background-color: #202020;
}

.portfolio__container {
	background-color: #202020;
	min-height: 425px;
	max-width: 1280px;
	margin: 0 auto;
}

.portfolio__header {
	margin: 100px auto 30px 70px;
  font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
  color: #8b8b8b;
}

.portfolio__sites {
	list-style: none;
	padding: 0;
  margin: 0 auto 0 70px;
	flex-direction: column;
	column-gap: 200px;
}

.portfolio__site {
  display: flex;
  justify-content: space-between;
	text-decoration: none;
	color: white;
  width: 1140px;
	font-size: 30px;
	font-weight: 400;
	line-height: 1.66;
	letter-spacing: -1px;
  padding: 20px 0 19px;
}


.portfolio__list-item{
  border-bottom: 1px #424242 solid;
  width: 1140px;
}

.portfolio__list-item:last-of-type{
  border: none;
}
