.promo {
	background-color: #073042;
}

.promo__container {
	background-color: #073042;
	min-height: 574px;
	position: relative;
	max-width: 1280px;
	margin: 0 auto;
}

.promo__header {
	margin: 0 auto 36px 70px;
	padding-top: 74px;
	width: 640px;
	font-weight: 400;
	font-size: 50px;
	line-height: 1.16;
}

.promo__description {
	margin: 0 auto 146px 70px;
	width: 310px;
	font-weight: 400;
	font-size: 13px;
	line-height: 1.2;
	opacity: 0.5;
}

.promo__image {
	position: absolute;
	top: 75px;
	left: 900px;
}

.promo__button {
	padding: 0;
	margin: 0 auto 0 70px;
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 3px;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
	width: 129px;
	height: 36px;
	font-weight: 500;
	font-size: 12px;
}

.promo__button:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	font-size: 13px;
}

.promo__button:active {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 768px) {
	.promo__container {
		max-width: 768px;
		padding: 18px 0;
	}

	.promo__image {
		top: 140px;
		left: 229px;
	}

	.promo__header {
		text-align: center;
		padding-top: 475px;
		margin: 0 44px 22px;
		width: 680px;
		font-size: 40px;
		line-height: 1.25;
	}

	.promo__description {
		text-align: center;
		margin: 0 auto 92px;
		width: 260px;
	}

	.promo__button {
		margin: 0 320px 58px;
	}
}
