.search-form {
	min-height: 212px;
	max-width: 1140px;
	position: relative;
	border-bottom: 1px #424242 solid;
	margin-left: 70px;
}

.search-form__input {
	width: 1077px;
	height: 72px;
	padding: 0;
	padding-left: 63px;
	outline: none;
	margin: 70px auto;
	border-radius: 9px;
	background-color: #2f2f2f;
	border: none;
	color: white;
}

.search-form__input::placeholder {
	color: #8b8b8b;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.1;
	background: url(../../images/search.svg) no-repeat 19px;
}

.search-form__button {
	border: none;
	background-color: transparent;
	position: absolute;
	top: 89px;
	right: 257px;
	padding: 0;
}

.search-form__button:hover {
	transform: translateX(2px);
	cursor: pointer;
}

.search-form__line {
	position: absolute;
	top: 86px;
	right: 226px;
}

@media screen and (max-width: 768px) {
	.search-form {
		max-width: 708px;
		margin-left: 30px;
	}

	.search-form__input {
		width: 645px;
		margin: 77px auto 109px;
	}

	.search-form__button {
		top: 95px;
		right: 227px;
	}

	.search-form__line {
		top: 93px;
		right: 207px;
	}
}
