.movies-saved__list {
	display: grid;
	grid-template-columns: repeat(3, 364px);
	grid-template-rows: repeat(1, 281px);
	gap: 37px 24px;
	list-style: none;
	padding: 0;
	margin: 77px 70px 247px;
}

@media screen and (max-width: 768px) {
	.movies-saved__list {
		grid-template-columns: repeat(2, 339px);
		grid-template-rows: repeat(2, 262px);
		gap: 30px;
		margin: 79px 30px 170px;
	}
}
