.movies-saved__list {
	display: grid;
	grid-template-columns: repeat(3, 364px);
	grid-template-rows: repeat(1, 281px);
	gap: 37px 24px;
	list-style: none;
	padding: 0;
	/* min-height: 598px; */
	margin: 77px 70px 247px;
}

