.movies-saved__list {
	display: grid;
	grid-template-columns: repeat(3, 364px);
	grid-template-rows: repeat(4, 281px);
	gap: 37px 24px;
	list-style: none;
	padding: 0;
	max-height: 1315px;
	margin: 77px 70px 10px;
}

